.quiz_container button {
    background-color: #D8791B; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.quiz_container button:hover {
    background-color: #e29344;
}

.quiz_container{
    position: fixed;
    top: 12%;
    left: 0;
    width: 100%;
    height: 82.5%;
    background-color: #FDBD6E;

    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header_container{
   position: fixed;
   top: 0;
   left: 0;
   height: 12%;
   width: 100%;
   background-color: #D8791B;

   color: black;
   text-align: center;
   font-family: 'Lilita One';
   font-size: 22px;
}

.footer_container{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5.5%;
    width: 100%;
    background-color: #D8791B;

    color: black;
    text-align: center;
    font-family: 'Lilita One';
}